@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*defines the font and the color of the background*/
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #9DD9D2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

/*it removes the "dot" at the start of every item the list*/
.menu li {
    list-style: none;
}

.menu a {
    color: #FFF8F0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: .25rem;
}

/* It changes the color of the page that you're in  in the navbar */
.menu .active {
    color: #FF8811;
}

/*when the mouse is over the object it adds a background color with a transition*/
.navbar a:hover {
    background-color: #F4D06F;
    color: #FF8811;
    transition: ease-in .3s;
}

/*changes the colors of my name*/
.brand {
    color: #FFF8F0;
}

.brand span {
    color: #392F5A;
}

/*style of the main part of the landing page*/
.main {
    margin: 0 auto;
    width: 70vw;
    height: 80vh;
    display: flex;
    align-items: center;
}

.box {
    display: flex;
    position: relative;
    top: 150px;
}

/*structures a grid*/
.infoContent {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-gap: 10px;

    grid-column: 2;
}

 .header {
    
    grid-column: 4/7;
    grid-row: 1;
    justify-content: center;
    color: #FFF8F0;
    margin-bottom: 2rem;
} 

.imageTrend {
    height: 255x;
    width: 200px;
    grid-row: 2/4;
    grid-column: 7;
    object-fit: contain;
    border: 7px solid #F4D06F;
}

.headerTrend {
    margin-top: 5rem;
    grid-row: 2;
    grid-column: 1/3;
    color: #FFF8F0;
}

.parrafoTrend {
    margin-top: 5rem;
    grid-row: 2;
    grid-column: 3/6;
}

.imageChallenge {
    margin-top: 3rem;
    height: 255x;
    width: 200px;
    grid-row: 4;
    grid-column: 1/3;
    object-fit: contain;
    border: 7px solid #F4D06F;
}

.headerChallenge {
    margin-top: 3rem;
    grid-row: 4;
    grid-column: 7;
    color: #FFF8F0;
}

.parrafoChallenge {
    margin-top: 3rem;
    grid-row: 4;
    grid-column: 3/6;
}
.imageAlfa {
    margin-top: 1rem;
    height: 255x;
    width: 200px;
    grid-row: 5;
    grid-column: 7;
    object-fit: contain;
    border: 7px solid #F4D06F;
}

.headerAlfa {
    margin-top: 3rem;
    grid-row: 5;
    grid-column: 1/3;
    color: #FFF8F0;
}

.parrafoAlfa {
    margin-top: 3rem;
    grid-row: 5;
    grid-column: 3/6;
}