@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*defines the font and the color of the background*/
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #9DD9D2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

/*it removes the "dot" at the start of every item the list*/
.menu li {
  list-style: none;
}

.menu a {
  color: #FFF8F0;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: .25rem;
}

/* It changes the color of the page that you're in  in the navbar */
.menu .active {
  color: #FF8811;
}

/*when the mouse is over the object it adds a background color with a transition*/
.navbar a:hover {
  background-color: #F4D06F;
  color: #FF8811;
  transition: ease-in .3s;
}

/*changes the colors of my name*/
.brand {
  color: #FFF8F0;
}

.brand span {
  color: #392F5A;
}

/*style of the main part of the landing page*/
.main {
  margin: 0 auto;
  width: 70vw;
  height: 80vh;
  display: flex;
  align-items: center;
}

/*structures a grid*/
.infoContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-top: 2rem;
  grid-column: 2;
}

/*it positions the title on the grid*/
.header {
  margin-top: 2rem;
  grid-column: 2;
  grid-row: 1;
  justify-content: center;
}

/*it positions the text on the grid*/
.parrafo {
  margin-top: 5rem;
  width: 20rem;
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
}

/*it changes the color and the size of the title*/
h1 {
  color: #FFF8F0;
  font-size: 3em;
}

span {
  color: #392F5A;
}

/*it defines the size of the photo and it positions it on the grid*/
.fotoBusto {
  grid-column: 4;
  width: 350px;
  height: 510px;
  grid-row: 1/4;
  border: 7px solid #F4D06F;
}